<launch>
	<!-- launch args -->
	<arg name="pre_dir" default="$(find g29_socket_send)/../../../" />
	<!-- parameters -->
	<rosparam command="load" file="$(arg pre_dir)/config/config_teledrive.yaml"/>
	<group>
		<!-- g29 driver -->
		<include file="$(find g29_driver)/launch/g29_driver.launch" />
	</group>
	<group>
		<include file="$(find g29_socket_send)/launch/g29_socket_send.launch" />
	</group>
</launch>